{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% load static %}

{% block style %}
  <style type="text/css">
    #content {
      width: 900px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="login-logo">
    <img src="{% static 'img/ypm-salman.png' %}" style="max-width: 150px; padding-right: 20px;">
    <img src="{% static 'img/logo-warna.png' %}" style="max-width: 150px; padding-bottom: 13px;">
  </div>
  <div class="about">
    <h2 class="judul">Alumni Masjid Salman ITB</h2>
    <br>
    <h5 class="about-text">Lorem Ipsum adalah contoh teks atau dummy dalam industri percetakan dan penataan huruf atau typesetting. Lorem Ipsum telah menjadi standar contoh teks sejak tahun 1500an, saat seorang tukang cetak yang tidak dikenal mengambil sebuah kumpulan teks dan mengacaknya untuk menjadi sebuah buku contoh huruf. Ia tidak hanya bertahan selama 5 abad, tapi juga telah beralih ke penataan huruf elektronik, tanpa ada perubahan apapun.</h5>
    <br>
    <h4><i class="fas fa-map-marker"></i>&emsp;  Jalan Ganesha</h4>
    <br>
    <h4><i class="fas fa-phone"></i>&emsp;+6285286578611</h4>
    <br>
    <h4><i class="far fa-envelope"></i>&emsp;alumni@salmanitb.com</h4> 
  </div>
{% endblock %}
