<!DOCTYPE html>
<html>
{% load static %}
<head>
  <title>Alumni Salman | {% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
  {% block style %}{% endblock %}
</head>
<body>
  <div id="navbar">
    <a href="/" class="alignleft">Alumni Salman</a>
    {% if user.is_authenticated %}
      <a href="{% url 'about' %}" class="alignright fitur">About</a>
      <a href="{% url 'verifikasi' %}" class="alignright fitur">Verifikasi Akun Baru</a>
      <a href="{% url 'menyapaList' %}" class="alignright fitur">Salman Menyapa</a>
   	{% endif %}
  </div>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
</body>
<script src="{% static 'js/app.js' %}"></script>
{% block script %}{% endblock %}
</html>