{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% load static %}

{% block style %}
  <style type="text/css">
    #content {
      width: 550px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="login-logo">
    <img src="{% static 'img/logo-warna.png' %}" style="max-width: 150px;">
  </div>
  <div class="login-form">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="buttonLogin"><span>Login </span></button>
    </form>
  </div>
{% endblock %}
