{% extends "base.html" %}

{% block title %}Edit{% endblock %}

{% block style %}
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
<style type="text/css">
    div#content {
        margin: auto;
        padding-top: 20px;
        width: 95%;
    }

    body {
        background-color: #f1f1f1 !important ;
    }

    a, a:active, a:focus, a:hover {
        text-decoration: none !important;
    }

    h1 {
        font-size: 24px;
    }
</style>
{% endblock %}

{% block content %}
<form id="summernoteForm" method="post" action="{% url 'menyapaNewSave' %}" class="form-horizontal">
    {% csrf_token %}
    <input type="hidden" name="desc" value="" id="desc">
    <div class="form-group">
        <label class="col-xs-1 control-label" style="font-size: 18px;">Judul</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" name="title" autofocus id="judul" placeholder="Judul..." style="border: 1px solid #888; padding: 12px 8px;" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-1 control-label" style="font-size: 18px;">Konten</label>
        <div class="col-xs-11">
            <textarea class="form-control" name="content" id="summernote"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-1 col-xs-offset-1" style="float: right; margin-top: -20px;">
            <button type="submit" class="buttonLogin" id="save" style="padding: 6px 8px; font-size: 16px; margin-top: 0px; font-family: Roboto-Black;"><span>Save </span></button>
        </div>
    </div>
</form>

{% endblock %}
    
{% block script %}
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

<!-- include summernote css/js-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>

<script type="text/javascript">
    $(document).ready(function() {

        // init summernote
        $('#summernote').summernote({
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['style']],
                ['style', ['bold', 'italic', 'underline', 'superscript', 'subscript', 'strikethrough', 'clear']],
                ['style', ['fontname', 'fontsize', 'color']],
                ['para', ['ul', 'ol', 'paragraph', 'height']],
                ['insert', ['link', 'picture', 'table', 'hr']],
                ['misc', ['codeview']],
            ],
            minHeight: 200,
            placeholder: 'write here...'
        });

        $('#summernoteForm').submit(function() {
            var contents = $('#summernote').summernote('code');
            var plainText = $("<p>" + contents+ "</p>").text();
            $('#desc').val(plainText);
        });

    });
</script>
{% endblock %}
